* {
  text-align: center;
}
body {
  background-color: rgb(43, 77, 109);
}
#comment-container {
  display: none;
}

div.scroll {
  margin-top: 10%;
  align-self: center;
  background-color: rgb(100, 150, 200);
  width: 600px;
  height: 350px;
  overflow: auto;
  text-align: justify;
  /* padding: 50px; */
}

form#comment-form {
  display: none;
}
