* {
  text-align: center;
}
body {
  background-color: rgb(43, 77, 109);
}
#comment-container {
  display: none;
}
#user-name,
#start-button {
  margin-top: 10rem;
  height: 15rem;
  width: 15rem;
}
div.scroll {
  margin-top: 10%;
  background-color: rgb(100, 150, 200);
  width: 600px;
  height: 350px;
  overflow: auto;
  text-align: justify;
}

form#comment-form {
  display: none;
}
#new-comment {
  width: 25rem;
}
